/* ABOUT PAGE */
.grid {
    background-color: whitesmoke;
    color: black;
    margin: 50px 0px 0px 100px;
    padding: 15px 0px 0px 25px;
}

.navbar-color {
    background-color: #3D5A80 !important;
    
}

/* PORTFOLIO PAGE */
.container {
    background-color: whitesmoke;
    padding: 20px;
}

